.git
.gitignore
.dockerignore

.idea
.vs_code
.vscode
.fleet

.results
scripts
*Dockerfile*
docker-compose.yaml

.github
node_modules
.tmuxinator.yml
.editorconfig
*.log
.env*
README.md
scripts
.Trashes
.next
out
